.card {
    background-image: url(img/bgr.jpg);
}

.temp {
    border-radius: 10px;
    background-color: purple; 
    color: rgb(211, 211, 211); 
    display: inline-block; 
    padding: 5px 8px;
}

body {
    background-color: rgb(165, 155, 217);
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh; 

}

